
langchain
langchain-core
langchain-community
langchain-openai
langchain-text-splitters



python-dotenv

langchain-chroma
#tiktoken - only for openai cost related things

pymupdf4llm
Unstructured 
python-docx
streamlit














